@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    /* padding: 7rem 0; */
}

.boxes {
    height: calc(100vh);
    position: relative;

    /* Caixa pai com display grid */
    display: grid;
    justify-content: flex-start;
    gap: 2rem 2rem;

    /* Define a quantidade de colunas e linhas e tambem o tamanho que sera ocupado por cada uma delas */
    /* grid-template-columns: 3fr 1fr 1fr 1fr; */
    grid-template-columns: 3fr repeat(2, 1fr);
    /* grid-template-rows: minmax(200px, 1fr) 2fr; */
}

.box {
    min-height: 10rem;
    min-width: 8rem;
    padding: 1.5rem;


    color: white;
    border: 10px solid red;
    border-radius: 1rem;
    background-color: blue;
    font-size: 4rem;
    order: 10;

    flex: 1;
    
    display: flex;
    justify-content: center;
    align-content: center;
}
